<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="income">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Income</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expense">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Expense</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panel">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Panel</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
